.slider-container {
    position: relative;
    /* width: 800px; */
    /* Adjust this to your desired width */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex-shrink: 0;
    /* min-width: 100%; */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active.slide {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

Image {
    /* min-width: 100%; */
    height: auto;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #000;
}

.active.slide {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}